
@mixin menu-link() {
    transition: all 0.1s ease-in-out;
    -webkit-text-stroke: 0.5px white;
    font-weight: 600;
    
    &:hover {
        -webkit-text-stroke: 0.5px black;
    }
}

header .menu-link a span {
    @include menu-link();
}


#menu-primary-menu {
    li {
        a {
            @include menu-link();
        }
        &.current-menu-item {
            a {
                color: $maroon;
                -webkit-text-stroke: 0.5px $maroon;
            }
        }

        &:last-of-type a {
            padding-right: 0;
        }
    }
}

header .fl-menu button.fl-menu-mobile-toggle.hamburger {
    height: 40px;
    max-width: 30px;
    padding: 0;
    position: relative;

    .svg-container {
        width: 40px;
        max-width: 100%;
        display: block;
        svg {
            rect {
                height: 30px;
            }
        }
    }
}

nav .fl-menu-mobile-flyout {
    box-shadow: 0 0 20px 0 rgba($black, 0.2) !important;
    li.menu-item {
        text-align: left;
        border-color: $grey !important;
        a {
            padding: 40px 20px !important;
        }
        &.current-menu-item {
            a {
                color: $maroon;
            }
        }
    }

    .fl-menu-mobile-close {
        font-size: 24px !important;
        padding: 20px;
        i {
            -webkit-text-stroke: 2px white;
        }
        &:hover {
            font-size: 24px !important;
        }
    }
}