
body:not(.fl-builder-edit) #lightboxForm {
    display: none;
    position: relative;

    .fl-row-content-wrap {
        width: 98%;
        max-width: 1150px;
        margin: auto;
        box-shadow: 2px 2px 80px 0px rgba($black, 0.6);
    }

    &.lightbox-open {
        display: flex;
        position: fixed;
        overflow-y: scroll;
        top: 0;
        bottom: 0;
        z-index: 9999;
        left: 0;
        right: 0;
        margin: auto;

        &:before {
            content: '';
            background: rgba($black, 0.8);
            display: block;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    // dismiss
    .lightbox-dismiss {
        position: absolute;
        top: 1px;
        right: 0;
        cursor: pointer;
    }

    // badge
    .custom-form-badge-placement {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        pointer-events: none;
        max-width: 260px;
    }

    // pattern
    .form-pattern-image {
        position: absolute;
        bottom: -100px;
        width: 107%;
    }
}

#lightboxForm {
    a {
        color: $black;
    }
}

// fix overflow of pattern on column
#lightboxForm {
    .fl-col.position-relative {
        overflow: hidden;
    }
}


.essential-grid-custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($black, 0.8);
    z-index: 1000;
    overflow-y: scroll;
    animation: fadeIn 0.2s infinite;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    button {
        width: 28px;
        height: 28px;
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: 1000;
        padding: 0;
        background: transparent;
        border: none;

        span {
            height: 2px;
            display: block;
            width: 100%;
            background: white;
            pointer-events: none;
            position: absolute;
            top: 50%;

            &:first-of-type {
                transform: rotate(45deg);
            }
            &:last-of-type {
                transform: rotate(-45deg);
            }
        }
    }

    .fl-builder-content {
        margin-top: 10vh;
        a {
            border: none;
        }
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}