p {
    font-size: clamp(14px, 1.3vw, 24px);
}

h1, h1 span {
    font-size: clamp(36px, 6.5vw, 130px);
    line-height: 0.9;
    @media (max-width: $tablet) {
        line-height: 1.1;
    }
}

.h1-alt p, .h1-alt span {
    font-size: clamp(20px, 2.9vw, 58px);
    line-height: 0.9;
    @media (max-width: $tablet) {
        line-height: 1.1;
    }
}

.h1-inner-page p, .h1-inner-page span, .h1-inner-page h1 {
    font-size: clamp(30px, 4.2vw, 80px);
    line-height: 0.9;

    @media (max-width: $tablet) {
        line-height: 1.1;
    }
}


h2, h2 span {
    font-size: clamp(24px, 2.4vw, 49px);
    line-height: 1.1;
}

.h2-alt h2, .h2-alt h2 span {
    font-size: clamp(20px, 2.2vw, 41px);
}

h3, h3 span {
    font-size: clamp(16px, 1.2vw, 22px);
    font-weight: 600;
}

h4, h4 span {
    font-size: clamp(14px, 1.5vw, 25px);
    line-height: 1;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.rounded-corners .fl-button-wrap a {
    border-radius: 25px 0 25px 0;
    padding: 24px 32px 20px;
    letter-spacing: 1px;
    &:hover {
        border-radius: 25px 0 25px 0;
    }
}

h2.fl-heading, 
h2 {
    strong,
    span strong {
        color: var(--teal);
        // display: block;
        font-weight: 100 !important;
    }
}

.hero-address p,
.hero-address p span {
    font-size: clamp(24px, 2.4vw, 28px);
}

.inner-page-subheading p,
.inner-page-subheading p span {
    font-size: clamp(16px, 1.4vw, 24px);
}