:root {
    --sans-serif: Montserrat, sans-serif;
    --serif: "Gilda Display", serif;

    --maroon: #691C32;
    --teal: #006072;
    --black: #101820;
    --grey: #ECEDED;
    --white: #ffffff;

    --mobile: 768px;

    --border-radius: 26px;

}

$dark-green: pink;
$black: #101820;
$grey: #ECEDED;

$maroon: #691C32;
$teal: #006072;
$white: #fff;

 

$sans-serif: Montserrat, sans-serif;
$serif: "Gilda Display", serif;

$small-desktop: 1200px;
$tablet: 768px;
$mobile: var(--mobile);
$border-radius: var(--border-radius);