@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

@import './components/variables';
@import './components/typography';
@import './components/utils';
@import './components/splash-page';
@import './components/header';
@import './components/lightbox';
@import './components/form';
@import './components/cookie-banner';
@import './components/suites-grid.scss';
@import './components/custom-slider.scss';
@import './components/homepage-image-grid';
@import './components/footer';
@import './components/registration-form/index';

::selection {
    background: $teal;
    color: $white;
}

.building-features-icon {
    max-height: 45px;
    height: 45px;
}